[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
discogs-client = {editable = true, git = "https://github.com/discogs/discogs_client"}
amalgama-pq = {editable = true, git = "https://github.com/andriyor/amalgama-pq.git"}

[dev-packages]

[requires]
python_version = "3.7"
