body {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px
}


h2 {
    font-size: 1.25em;
    text-align: center;
    margin: 0.5em;
    font-weight: bold
}

.original {
    width: 50%;
    float: left;
    clear: left;
    font-weight: normal;
    word-spacing: 1px;
    color: #333;
    padding-right: 10px;
    line-height: 125%
}

.translate {
    margin-left: 50%;
    font-weight: normal;
    word-spacing: 1px;
    color: #333;
    padding-left: 5px;
    border-left: 1px dotted #CCCCCC;
    line-height: 125%
}

.string_container {
    overflow: hidden;
    border-bottom: 1px solid #f5f5f5;
    padding: 5px
}

.string_container:hover {
    border-bottom: 1px solid #D9E7F4 !important;
    background: #D9E7F4;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5)
}

.empty_container {
    overflow: hidden
}

#click_area {
    position: relative
}

.original span,
.translate span {
    font-size: 0.625em;
    font-weight: normal
}

a.vtip {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px dotted red;
    font-size: 1.1em;
    font-weight: bold;
    background: #FF5353;
    padding: 2px 10px 2px 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 0 #999
}

a {
    color: #0070d5;
    text-decoration: none;
    border-bottom: 1px solid #BBDFFF
}

a:hover {
    color: #FF4F22;
    border-bottom: 1px solid #FFD5CC
}

a:visited {
    color: #663399;
    border-bottom: 1px solid #CAAFE4
}

a:visited:hover {
    color: #FF4F22;
    border-bottom: 1px solid #FFD5CC
}

@media screen and (min-width: 1281px) and (max-width: 1600px) {
    body {
        font-size: medium
    }
}

