<!DOCTYPE html>
<html lang="en">

<head>
  <title>Live lyrics</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css">
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.4/js.cookie.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>

  <script src="../static/main.js"></script>
  <link rel="stylesheet" href="../static/main.css">
  <link rel="stylesheet" href="../static/amalgama.css">
  <link rel="stylesheet" href="../static/lyrsense.css"> {% raw %}
  <script id="discogs-template" type="text/template">
    <ul class="demo-list-icon mdl-list">
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          <i class="material-icons mdl-list__item-icon">place</i>
          {{ country }}
      </span>
      </li>

      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-icon">queue_music</i>Styles: 
      {{ styles }}
  </span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-icon">queue_music</i>Genres: 
      {{ genres }}
    </span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-icon">date_range</i>
      {{ year }}
    </span>
      </li>
    </ul>
  </script>
  {% endraw %}

</head>

<body>
  <!-- Always shows a header, even in smaller screens. -->
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">LiveLyrics</span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation. We hide it in small screens. -->
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <a class="mdl-navigation__link" href="">Link</a>
          <a class="mdl-navigation__link" href="">Link</a>
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">LiveLyrics</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <div class="page-content">

        <div class="container">
          <div class="row">

            <div class="col-md-6">
              <div class="form-inline">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="VK id" id="id">
                </div>
                <button id="set_id" class="btn btn-default">Set</button>
                <form action="/login">
                  <button type="submit" class="Btn" id="loginBtn login-button">Click Me</button>
                </form>

                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
                  <input type="radio" id="option-1" class="mdl-radio__button stored" name="broadcast_provider" value="vk" checked>
                  <span class="mdl-radio__label">VK</span>
                </label>

                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
                  <input type="radio" id="option-2" class="mdl-radio__button stored" name="broadcast_provider" value="spotify">
                  <span class="mdl-radio__label">Spotify</span>
                </label>


                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-3">
                  <input type="radio" id="option-3" class="mdl-radio__button stored" name="lyrics_provider" value="amalgama" checked>
                  <span class="mdl-radio__label">amalgama</span>
                </label>

                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-4">
                  <input type="radio" id="option-4" class="mdl-radio__button stored" name="lyrics_provider" value="lyrsense">
                  <span class="mdl-radio__label">lyrsense</span>
                </label>

              </div>
            </div>

            <div id="checkbox-container">
              <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="youtube">
                    <input type="checkbox" id="youtube" class="mdl-checkbox__input" checked>
                    <span class="mdl-checkbox__label">YouTube</span>
                  </label>
              <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="discogs">
                    <input type="checkbox" id="discogs" class="mdl-checkbox__input">
                    <span class="mdl-checkbox__label">Discogs</span>
                  </label>
            </div>

            <div id='discogs-list'>

            </div>

            <div class="col-md-12">
              <div class="lyrics">


              </div>
            </div>

          </div>
        </div>

      </div>
    </main>
  </div>

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

</body>
</html