{% extends "base.html" %}

{% block page_content %}
    <div class="row">

        <div class="col-md-6">
            <div class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="VK id" id="id">
                </div>
                <button id="set_id" class="btn btn-default">Set</button>
            </div>
        </div>

        <div class="col-md-12">
            <div class="lyrics">
            </div>
        </div>

    </div>
{% endblock %}