<ul class="mdc-list">
    <li class="mdc-list-item">
        <i class="mdc-list-item__start-detail material-icons" aria-hidden="true">place</i>
        {{ country }}
    </li>
    <li class="mdc-list-item">
        <i class="mdc-list-item__start-detail material-icons" aria-hidden="true">queue_music</i>
        Styles: {{ styles }}
    </li>
    <li class="mdc-list-item">
        <i class="mdc-list-item__start-detail material-icons" aria-hidden="true">queue_music</i>
        Genres: {{ genres }}
    </li>
    <li class="mdc-list-item">
        <i class="mdc-list-item__start-detail material-icons" aria-hidden="true">date_range</i>
        {{ year }}
    </li>
</ul>